<div class="homepage">
<p-card>
  <div class="carte">
    <div>
      <img style="height: 400px"
           src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/273585165_1962572933927231_724055336476527915_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=QVLnwkG0WxoAX8TfR_l&tn=LARPpeBm03QpS1Kj&_nc_ht=scontent-cdt1-1.xx&oh=00_AT_f_2ieg9Nx-P7tj0YOj5dAIkYArVHf7G8h9Jr05deUuA&oe=6261B57C"
           alt="">
    </div>
    <div class="intro">
      <h1>{{titre1}}</h1>
      {{text1}} {{age}} {{text2}} <br>
      {{text3}}
    </div>
  </div>
</p-card>
  <p-card header="{{titreCarte2}}">
    <p-divider align="center">
      <span class="p-tag">Langues</span>
    </p-divider>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <span class="fi fi-fr"></span>
        </div>
        <div class="col-sm-4">
          <span class="fi fi-de"></span>
        </div>
        <div class="col-sm-4">
          <span class="fi fi-gb"></span>
        </div>
      </div>
    </div>
  </p-card>
</div>
