body{
  margin-top:-8px !important;
}
.content{
  padding:50px 0 10px 0;
  background: #E1F2F7;
  min-height: 100vh;
}

.header{
  position:fixed;
  z-index: 6000;
}

@media only screen and (max-width: 1024px) {
  .content{
    padding:100px 10px 10px 10px;
  }
}

html {
  background: #E1F2F7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 320px) {
  .content{
    padding:0;
  }
}
