<div class="scolarite">
  <div class="parcours">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <p-card>
            <div class="carte">
              <div>
                <h4>2020-2022</h4>
                {{MASTER}}
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-3">
          <p-card>
            <div class="carte">
              <div>
                <h4>2019-2020</h4>
                {{LICENCE}}
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-3">
          <p-card>
            <div class="carte">
              <div>
                <h4>2017-2019</h4>
                {{DUT}}
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-3">
          <p-card>
            <div class="carte">
              <div>
                <h4>2017</h4>
                {{BAC}}
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>

</div>

