<div class="professional">
  <div class="parcours">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p-card class="first-card">
            <div class="gta">
              <div class="cover">
                <div class="content">
                  <h3>{{TITRE1}}</h3>
                  <h5>{{SOUSTITRE1}}</h5>
                  <p>{{CONTENU1}}</p>
                </div>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-6">
          <p-card>
            <div class="dashboard">
              <div class="cover">
                <div class="content">
                  <h3>{{TITRE2}}</h3>
                  <h5>{{SOUSTITRE2}}</h5>
                  <p>{{CONTENU2}}</p>
                </div>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-6">
          <p-card>
            <div class="ohana">
              <div class="cover">
                <div class="content">
                  <h3>{{TITRE3}}</h3>
                  <h5>{{SOUSTITRE3}}</h5>
                  <p>{{CONTENU3}}</p>
                </div>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-sm-6">
          <p-card>
            <div class="ferme">
              <div>
                <div class="cover">
                  <div class="content">
                    <h3>{{TITRE4}}</h3>
                    <h5>{{SOUSTITRE4}}</h5>
                    <p>{{CONTENU4}}</p>
                  </div>
                </div>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
